<div style="background-color: rgba(189, 126, 214, 0.794);">
    <div class="mx-auto" style="width: 1400px;">
        <div class="mx-auto" style="width: 400px;">
            <p class="h1">Bootstrap Examples</p>
        </div>
        <div class="mt-5 mb-5 ms-5" style="width: 400px;">
            <p class="h2">Table example:</p>
        </div>
        <table class="table" style="background-color: white; border-radius: 20px;">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Class</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">0</th>
                    <td>Gurgen</td>
                    <td>Meliksetyants</td>
                    <td>Ruby on Rails</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Hayleigh</td>
                    <td>Padilla</td>
                    <td>Physics</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Saima</td>
                    <td>Parra</td>
                    <td>Ruby on Rails</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Lillie-May</td>
                    <td>Salas</td>
                    <td>Calculus 1</td>
                </tr>
            </tbody>
        </table>
        <div class="mt-5 mb-5 ms-5" style="width: 400px;">
            <p class="h2">Buttons example:</p>
        </div>
        <div class="mx-auto" style="width: 1000px;">
            <button type="button" class="btn btn-lg btn-primary">Primary</button>
            <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
            <button type="button" class="btn btn-lg btn-success">Success</button>
            <button type="button" class="btn btn-lg btn-danger">Danger</button>
            <button type="button" class="btn btn-lg btn-warning">Warning</button>
            <button type="button" class="btn btn-lg btn-info">Info</button>
            <button type="button" class="btn btn-lg btn-light">Light</button>
            <button type="button" class="btn btn-lg btn-dark">Dark</button>
            <button type="button" class="btn btn-lg btn-link">Link</button>
        </div>
        <div class="mt-5 mb-5 ms-5" style="width: 400px;">
            <p class="h2">Forms example:</p>
        </div>
        <form style="background-color:white; border-radius: 20px;">
            <legend class="pt-2 ms-3 me-3">Contact</legend>
            <div class="pt-3 mb-3 ms-3 me-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="email" class="form-control" id="firstName" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Your First Name is required</div>
            </div>
            <div class="mb-3 ms-3 me-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="password" class="form-control" id="lastName">
            </div>
            <div class="mb-3 ms-3 me-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">Australia</option>
                    <option value="2">Canada</option>
                    <option value="3">USA</option>
                    <option value="4">Mexico</option>
                </select>
            </div>
            <div class="mb-3 ms-3 me-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="mb-3 ms-3 me-3 btn btn-primary">Submit</button>
        </form>
        <div class="mt-5 mb-5 ms-5" style="width: 400px;">
            <p class="h2">Navigation bar example:</p>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Navbar</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div style="width: 400px;height:300px">
        </div>
    </div>
</div>