<%= stylesheet_link_tag "default" %>
<div style="background-color:  rgb(161, 161, 161);">
    <h1 class="title">HMTL and CSS examples<h1>	
    <h2 class="title-small">Table example:<h2>
    <div class="container table">
        <ul class="responsive-table">
            <li class="table-header">
            <div class="col col-1">Student Id</div>
            <div class="col col-2">Name</div>
            <div class="col col-3">Class</div>
            </li>
            <li class="table-row">
            <div class="col col-1" data-label="Student Id">0</div>
            <div class="col col-2" data-label="Name">Gurgen Meliksetyants</div>
            <div class="col col-3" data-label="Class">Ruby on Rails</div>
            </li>
            <li class="table-row">
            <div class="col col-1" data-label="Student Id">1</div>
            <div class="col col-2" data-label="Name">Hayleigh Padilla</div>
            <div class="col col-3" data-label="Class">Physics</div>
            </li>
            <li class="table-row">
            <div class="col col-1" data-label="Student Id">2</div>
            <div class="col col-2" data-label="Name">Saima Parra</div>
            <div class="col col-3" data-label="Class">Ruby on Rails</div>
            </li>
            <li class="table-row">
            <div class="col col-1" data-label="Student Id">3</div>
            <div class="col col-2" data-label="Name">Lillie-May Salas</div>
            <div class="col col-3" data-label="Class">Calculus 1</div>
            </li>
        </ul>
    </div>
    <h2 class="title-small">Buttons example:<h2>
    <div style="text-align: center;">
        <a href="something" class="button4" style="background-color:#f14e4e">Button 1</a>
        <a href="something" class="button4" style="background-color:#f1bb4e">Button 2</a>
        <a href="something" class="button4" style="background-color:#84f14e">Button 3</a>
        <a href="something" class="button4" style="background-color:#4ef18f">Button 4</a>
        <a href="something" class="button4" style="background-color:#4e9af1">Button 5</a>
        <a href="something" class="button4" style="background-color:#9a4ef1">Button 6</a>
        <a href="something" class="button4" style="background-color:#f14ebd">Button 7</a>
    </div>
    <h2 class="title-small">Forms example:<h2>
    <div class="form-ussual">
        <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="mexico">Mexico</option>
            </select>
        
            <input type="submit" value="Submit">
        </form>
    </div>
    <h2 class="title-small">Navigation bar example:<h2>
    <div  class="nav-bar">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a href="#about">About</a></li>
        </ul>
    </div>
<div>